AUDIO_DISPATCH_TOKEN=your_long_random_secret
BOT_ADMIN_TELEGRAM_IDS=123456789
TTS_PREWARM_ENABLED=1
TTS_PREWARM_INTERVAL_MINUTES=60
TTS_PREWARM_BATCH_SIZE=120
TTS_PREWARM_MAX_CHARS_PER_RUN=12000
TTS_PREWARM_LOOKBACK_HOURS=168
TTS_PREWARM_OFFPEAK_START_HOUR=1
TTS_PREWARM_OFFPEAK_END_HOUR=7
TTS_PREWARM_ALLOW_DAYTIME=0
FLASHCARD_FEEL_CLEANUP_ENABLED=1
FLASHCARD_FEEL_CLEANUP_DAY=1
FLASHCARD_FEEL_CLEANUP_HOUR=3
FLASHCARD_FEEL_CLEANUP_MINUTE=30
