# LiveKit Agent & Server SDK
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit

# Web Server (для эндпоинта /token)
Flask
Flask-Cors

# Database Connector for PostgreSQL
psycopg2-binary

# Environment variables
python-dotenv

gunicorn
youtube-transcript-api>=0.6.3
yt-dlp==2024.12.23
spacy==3.7.4
reportlab==4.2.5
APScheduler==3.11.0
google-cloud-texttospeech==2.25.1
pydub==0.25.1
pypdf==5.2.0
pyttsx3==2.98

fsrs>=6.1.1
stripe>=11.0.0
